.article {
    border: 0;
    border-radius: 20px;
    background-color: #404040;
    width: 40%;
    margin: 20px;
    text-align: center;
    transition: background-color 0.4s ease;
}
.article:hover {
    background-color: rgba(100, 68, 46, 0.51);
}
.article img {
    padding: 10px;
    background-color: rgb(255, 77, 0);
    border-radius: 40px;
    max-width: 90%;
    height: auto;
    margin: 20px;
}
.article h1 {
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    color: #ffc400;
}
.article h2 {
    margin-right: 30px;
    text-align: right;
    color: #ff6a00;
}
.article p {
    margin-left: 40px;
    margin-right: 20px;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}
@media screen and (max-width: 2500px) {
    .article {
        height: 70%;
        border: 0;
        border-radius: 20px;
        background-color: #404040;
        width: 40%;
        margin: 20px;
        text-align: center;
        transition: background-color 0.4s ease;
    }
}
@media screen and (max-width: 1400px) {
    .article {
        height: 70%;
        border: 0;
        border-radius: 20px;
        background-color: #404040;
        width: 80%;
        margin: 20px;
        text-align: center;
        transition: background-color 0.4s ease;
    }
}
@media screen and (max-width: 1000px) {
    .article img {
        padding: 10px;
        background-color: rgb(255, 77, 0);
        border-radius: 40px;
        max-width: 90%;
        height: auto;
        margin: 5px 0 0;
    }
    img {
        padding: 0;
    }
    .article {
        height: 70%;
        border: 0;
        border-radius: 20px;
        background-color: #404040;
        width: 80%;
        margin: 20px;
        text-align: center;
        transition: background-color 0.4s ease;
    }
    .article {
        width: 90%;
    }
    .article h1 {
        font-size: 20px;
    }
    .article h2 {
        font-size: 18px;
    }
    .article p {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .article img {
        padding: 5px;
        background-color: rgb(255, 77, 0);
        border-radius: 40px;
        max-width: 90%;
        height: auto;
        margin: 5px 0 0;
    }
    img {
        padding: 0;
    }
    .article {
        width: 90%;
    }
    .article h1 {
        font-size: 16px;
    }
    .article h2 {
        font-size: 14px;
    }
    .article p {
        font-size: 12px;
    }
}