.footer {
    background: #1a1a1a;
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px solid darkorange;
    margin-top: 20px;
}

.footer p {
    margin-left: 20px;
    margin-right: 20px;
}

.footer a {
    color: darkorange;
    font-size: 24px;
    text-decoration: none;
    position: relative;
}

.footer a:hover {
    color: white;
}

.footer a:hover::after {
    width: 100%;
}

.footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}
